@using Microsoft.Extensions.Localization
@model MailArchiver.Models.EmailDeletionJob
@inject IStringLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = Localizer["EmailDeletionStatus"];
    var shouldAutoRefresh = Model.Status == MailArchiver.Models.EmailDeletionJobStatus.Running || Model.Status == MailArchiver.Models.EmailDeletionJobStatus.Queued;
}

<div class="container mt-4">
        @await Html.PartialAsync("_EmailDeletionStatusLiveContent", Model)

</div>


